* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.logo {
  margin-left: 25px;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin-right: 15px;
}

.navigation ul li {
  margin-right: 25px;
}

.navigation ul li a {
  color: white;
  text-decoration: none;
}
